<h2><%= @restaurant.title %></h2>
<p><%= @restaurant.details %></p>
<p><%= @restaurant.completed %></p>

<%= link_to "edit", restaurant_edit_path(@restaurant) %>
<%= link_to "Delete #{@restaurant.name}",
              restaurant_path(@restaurant),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
